body {
  background: url("../images/handsraised.jpg");
}

div {
  border: solid red 2px;
}

.nav-bar {
  color: rgba(0 , 0, 255, 0.2);
  list-style-type: none;
}

.nav-bar li {
  display: inline;
  padding: 0 90px 0 90px;
}

input {
  border-radius: 3px;
  background-color: grey;
  color: silver;
}

/* LOGIN AND SIGNUP PAGE */

.welcomeBack {
  padding-top: 20px;
  list-style: none;
  float: left;
  height: 400px;
  width: 40%;
  background-color: rgba(0, 255, 0, 0.3);
}

.wiseChoice {
  padding-top: 20px;
  list-style: none;
  float: right;
  height: 400px;
  width: 40%;
  background-color: rgba(255, 0, 0, 0.2);
}

/* SURVEY LISTING */

.surveyContainer {
  overflow: hidden;
}

.survey {
  align-self: center;
  text-align: center;
  padding-bottom: 40px;
  float: left;
  overflow: hidden;
  height: 80px;
  width: 550px;
  margin: 5px;
  padding: 10px;
}

.survey h3 {
  margin: 5px;
}

.voteButtons {
  float: left;
  width: 550px;
  margin: 5px;
}

.voteButtons button {
  border-radius: 12px;
  background-color: rgba(255, 0, 0, 0.5);
}

.voteButtons li {
  display: inline;
  height: 100px;
  width: 550px;
  align-items: center;
  padding: 10px;
}

.voteButtons button img {
  border-radius: 4px;
  height:40px;
  width: 40px;
}

.voteCounts {
  position: relative;
  padding-bottom: 30px;
  float: right;
}

.voteCounts ul {
  width: 100px;
  text-align: left;
  font-size: 10px;
  list-style: none;
}

.ChatWindow {
  float: right;
}

/* NEW SURVEY PAGE */
.newPostContainer {
  text-align: center;
}
