/* Core Styling */
body {
  background: url("https://www.democracy-democratie.ca/images/runner_up.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  color: #212121;
  font-family: 'Rouge Script', cursive; font-size: 90px;
  font-size:   45px;
  font-weight: normal;
  line-height: 48px;
  margin:      0;
}

h2 {
  color: #7c795d;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:   28px;
  font-weight: 400;
  line-height: 32px;
  margin:      0 0 24px;
}

p {
  color:   #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:   18px;
  line-height: 32px;
  margin:      0 0 10px;
}

a {
  color:           #ff9900;
  text-decoration: inherit;
}

input {
  width: 200px;
}

/* Troubleshoot div positioning */
div {
  /*border: solid red 2px;*/
}

.subheader {
  padding-top: 5px;
  font-size:   20px;
  font-weight: 300;
  color:       #ffcc66;
  margin:      0 0 10px;
}

.titlebox {
  text-align:       center;
  style:            inline;
  background-color: rgba( 0, 0, 255, 0.2);
  width: 500px;
  margin: 0 auto;
}

.titlebox img {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  float: left;
}

#rightfist {
  position: absolute;
  right: 300px;
  top: 15px;
}

#leftfist {
  position: absolute;
  left: 300px;
  top: 15px;
}

/* Navigation Bar */

.nav-bar {
  color: rgba(0 , 0, 255, 0.2);
  list-style-type: none;
}

.nav-bar li {
  display: inline;
  padding: 0 90px 0 90px;
}

input {
  background-color: grey;
  border-radius: 3px;
  color: silver;
}

/* LOGIN AND SIGNUP PAGE */

.welcomeBack {
  background-color: rgba(0, 255, 0, 0.3);
  color: rgba(255, 0, 0, 0.7);
  float: left;
  height: 400px;
  list-style: none;
  padding: 20px 0px 0px 10px;
  width: 47%;
}

.welcomeBack li {
  text-align: center;
}

.welcomeBack input:hover {
  background-color: rgba(255, 0, 0, 0.5);;
  border-radius: 3px 3px 3px 3px;
}

.wiseChoice {
  background-color: rgba(255, 0, 0, 0.2);
  color: rgba( 0, 255, 0, 0.7);
  float: right;
  height: 400px;
  list-style: none;
  padding: 20px 0px 10px 0 ;
  width: 47%;
}

.wiseChoice li {
  text-align: center;
}

.wiseChoice input:hover {
  background-color: rgba(0, 255, 0, 0.3);
  border-radius: 3px 3px 3px 3px;
}

textarea {
  color: grey;
  height: 100px;
  width: 200px;
  background: beige;
}

/* SURVEY LISTING */

.surveyContainer {
  border: solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: url("http://eskipaper.com/images/clock-wallpapers-1.jpg");
  background-size: 550px, 300px;
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
  z-index: -1000;
}

.survey {
  position: center;
  height: 80px;
  margin: 5px;
  overflow: hidden;
  padding: 10px 0px 40px 0px;
  text-align: center;
}

.voteButtons {
  top: 200px;
  float: left;
  position: relative;
  margin: 5px;
  width: 550px;
  z-index: +1000;
  top: 300px;
}

.voteButtons button {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 12px;
}

.voteButtons li {
  align-items: center;
  display: inline;
  height: 100px;
  padding: 10px;
  width: 550px;
}

.voteButtons button img {
  border-radius: 4px;
  height:40px;
  width: 40px;
}

.voteCounts {
  background-color: rgba(255, 255, 255, 0.5);;
  position: relative;
  float: right;
  right: 20px;
  top: 20px;
}

.voteCounts ul {
  height: 50px;
  font-size: 8px;
  height: 110px;
  list-style: none;
  padding-left: 5px;
  text-align: left;
  width: 100px;
}

.voteCounts p {
  font-size: 8px;
  padding: 2px;
  height: 10px;
  width: 40px;
  margin: 0px;
}

.ChatWindow {
  margin: 0 auto;
  position: bottom;
  right: 760px;
  top: 200px;
}

/* NEW SURVEY PAGE */
.newPostContainer {
  background: url("http://eskipaper.com/images/clock-wallpapers-1.jpg");
}

.newPostContainer li {
  color: beige;
  text-align: center;
  list-style: none;
}

/* User Listing */

.user-profile {
  border: solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-image: url("http://wallpapercave.com/wp/4SSFz3R.png");
  background-repeat: no-repeat;
  background-size: 550px, 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 500px;
  z-index: -1000;
}

.user-profile img {
  border-radius: 30px;
  height: 60px;
  padding: 10px 5px 5px 10px;
  width: 60px;
}

.user-profile a {
  font-size: 14px;
}

.aboutBar {
  color: gold;
}
